table {
  width: 100%;
}
.mat-header-cell,
.mat-cell {
  text-align: center;
}

.tablel-filter-container {
  margin: 100px 100px 50px 100px;
}
.filter-container {
  display: flex;
  flex-wrap: wrap;
}
.filter-container > .filter-container-item {
  flex: 1 1 auto;
}
.filter {
  width: 300px;
}

.button-row {
  display: flex;
  width: 500px;
}
.button-row button {
  margin: 8px 8px 8px 8px;
}
.filter-field {
  display: flex;
  justify-content: flex-end;
}
.custom-filter {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 50px;
}
.custom-filter-form {
  display: flex;
  gap: 10px 10px;
}
